@mixin light($backColor: #b0b0b0) {
  background-color: $backColor;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 1rem;
}

.App {
  display: grid;
  text-align: center;
  justify-content: center;
}

.redLight {
  @include light();
}
.yellowLight {
  @include light();
}
.greenLight {
  @include light();
}

.defaultModeOn {
  @include light($backColor: yellow)
}

.red {
  @include light($backColor: red)
}

.green {
  @include light($backColor: #00ff00)
}

.yellow {
  @include light($backColor: #ffff00)
}