.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;
  justify-content: center;
  height: 100vh;
  width: 70%;
}

.controls {
  width: 30%;
  display: flex;
  justify-content: center;
}

.light {
  background-color: #b0b0b0;
  border-radius: 50%;
  margin: 1rem;
}

.red {
  background-color: red;
}

.green {
  background-color: #00ff00;
}

.yellow {
  background-color: #ffff00;
}

